Repository 3DPong/transcendence, pull requests merged in 2023-04, with the labels that each got.

#99 [back] Notifier & NotifySocket
  backend/docker-compose.yml
  backend/env.sample
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/common/enums/redisDatabase.enum.ts
  backend/src/common/filters/socket/wsException.filter.ts
  backend/src/common/guards/session/SocketSession.guard.ts
  backend/src/common/middlewares/session/session.middleware.ts
  backend/src/config/redis/config.module.ts
  backend/src/config/redis/config.service.ts
  backend/src/config/redis/configuration.ts
  backend/src/main.ts
  backend/src/models/alarm/socket/alarm.gateway.ts
  backend/src/models/alarm/socket/alarm.module.ts
  backend/src/models/alarm/socket/index.ts
  backend/src/models/alarm/socket/services/alarm.service.ts
  backend/src/models/alarm/socket/services/index.ts
  backend/src/models/notifier/enums/channel.enum.ts
  backend/src/models/notifier/enums/topic.enum.ts
  backend/src/models/notifier/notifier.gateway.ts
  backend/src/models/notifier/notifier.module.ts
  backend/src/models/notifier/services/notifier.class.ts
  backend/src/models/notifier/services/notifier.service.ts
  backend/src/models/notifySocket/socket/dto/userSockets.dto.ts
  backend/src/models/notifySocket/socket/index.ts
  backend/src/models/notifySocket/socket/notifySocket.gateway.ts
  backend/src/models/notifySocket/socket/notifySocket.module.ts
  backend/src/models/notifySocket/socket/services/index.ts
  backend/src/models/notifySocket/socket/services/notifySocket.service.ts
  backend/src/models/user/entities/user.entity.ts
  backend/src/providers/redis/RedisIO.adapter.ts
  backend/src/providers/redis/provider.module.ts
Labels: ✨ enhancement, 🖥️ backend

#106 [Back] 채팅 예외 필터, 게이트웨이 파일 리팩토링
  backend/src/models/chat/entities/channelUser.entity.ts
  backend/src/models/chat/socket/chatSocket.gateway.ts
  backend/src/models/chat/socket/services/chatSocket.service.ts
  backend/src/models/chat/socket/socket.filter.ts
Labels: ✨ enhancement, 🖥️ backend

#114 Back/ball angle fix
  backend/src/main.ts
  backend/src/models/game/enum/GameEnv.ts
  backend/src/models/game/gameData/InGameData.ts
  backend/src/models/game/gameData/index.ts
  backend/src/models/game/simul/ContactListenerInit.ts
  backend/src/models/game/simul/GameManager.ts
  backend/src/models/game/simul/object/ObjectController.ts
  backend/src/models/game/simul/object/ObjectDef.ts
  backend/src/models/game/socket/game.gateway.ts
  backend/src/models/game/socket/services/game.data.maker.ts
  backend/src/models/game/socket/services/game.service.ts
Labels: ✨ enhancement, 🖥️ backend, 🔧 fix

#120 [all] update: env sample
  env.sample
Labels: 📄 documentation, all

#122 [all] sync back/devleop
  backend/src/common/filters/socket/socket.filter.ts
  backend/src/models/chat/api/chat.controller.ts
  backend/src/models/chat/api/chat.module.ts
  backend/src/models/chat/api/get-user.decorator.ts
  backend/src/models/chat/api/services/chat.service.ts
  backend/src/models/chat/api/services/chatUser.service.ts
  backend/src/models/chat/dto/channel.dto.ts
  backend/src/models/chat/dto/socket.dto.ts
  backend/src/models/chat/socket/chatSocket.gateway.ts
  backend/src/models/chat/socket/chatSocket.module.ts
  backend/src/models/chat/socket/services/chatSocket.service.ts
  backend/src/models/chat/socket/socket.filter.ts
Labels: ⛓️ sync, 🖥️ backend, all

#125 [Back] mod seperate
  backend/src/models/game/gameData/OnSceneData.ts
  backend/src/models/game/gameData/index.ts
  backend/src/models/game/simul/GameManager.ts
  backend/src/models/game/simul/GameSimulator.ts
  backend/src/models/game/socket/game.gateway.ts
  backend/src/models/game/socket/game.socket.adapter.ts
  backend/src/models/game/socket/services/game.data.maker.ts
  backend/src/models/game/socket/services/game.service.ts
Labels: 🖥️ backend, 🔧 fix

#132 [back] fix: user_relation api 명세에 맞게 변경
  backend/src/models/user/api/dtos/getUserRelationRes.dto.ts
  backend/src/models/user/api/services/userRelation.service.ts
Labels: 🖥️ backend, 🔧 fix

#131 [back] feat: user search
  backend/src/models/user/api/dtos/searchUserRes.dto.ts
  backend/src/models/user/api/services/user.service.spec.ts
  backend/src/models/user/api/services/user.service.ts
  backend/src/models/user/api/user.controller.ts
Labels: ✨ enhancement, 🖥️ backend

#134 key입력 에러 fix
  backend/src/models/game/enum/GameEnum.ts
  backend/src/models/game/enum/GameEnv.ts
  backend/src/models/game/simul/GameManager.ts
  backend/src/models/game/simul/GameSkill.ts
  backend/src/models/game/socket/game.gateway.ts
Labels: 🖥️ backend, 🔧 fix

#136 [all] 환경변수 통합 작업
  backend/env.sample
  backend/src/config/database/postgres/config.module.ts
  backend/src/config/database/postgres/configuration.ts
  backend/src/config/ft/config.service.ts
  backend/src/config/redis/config.module.ts
  backend/src/config/redis/configuration.ts
  backend/src/providers/redis/RedisIO.adapter.ts
  docker-compose.yml
  env.sample
  nginx/apply_nginx_env.sh
  nginx/nginx.conf.template
Labels: ✨ enhancement, all

#137 [back] 환경변수 통합 작업 back/develop으로 반영
  backend/env.sample
  backend/src/config/database/postgres/config.module.ts
  backend/src/config/database/postgres/configuration.ts
  backend/src/config/ft/config.service.ts
  backend/src/config/redis/config.module.ts
  backend/src/config/redis/configuration.ts
  backend/src/models/image/services/imageUpload.service.ts
  backend/src/providers/redis/RedisIO.adapter.ts
Labels: ✨ enhancement, 🖥️ backend

#138 [back] fix: notify socket, notifier & feat : SocketMapService
  backend/src/models/notifier/notifier.module.ts
  backend/src/models/notifier/services/notifier.service.ts
  backend/src/models/notifySocket/socket/dto/userSockets.dto.ts
  backend/src/models/notifySocket/socket/notifySocket.gateway.ts
  backend/src/models/notifySocket/socket/notifySocket.module.ts
  backend/src/models/notifySocket/socket/services/notifySocket.service.ts
  backend/src/providers/redis/provider.module.ts
  backend/src/providers/redis/socketMap.service.ts
Labels: ✨ enhancement, 🖥️ backend, 🔧 fix

#140 [front] 채팅 소켓 연결작업 완료
  frontend/config/backend.ts
  frontend/src/components/Molecule/Chat/AvatarPopper.tsx
  frontend/src/components/Molecule/Chat/Menu/MenuFooter.tsx
  frontend/src/components/Molecule/Chat/Menu/MenuList.tsx
  frontend/src/components/Molecule/Chat/Menu/UserCard.tsx
  frontend/src/components/Organism/Chat/ChannelSetting.tsx
  frontend/src/components/Organism/Chat/ChatDetail.tsx
  frontend/src/components/Organism/Chat/LocalChatList.tsx
  frontend/src/components/Organism/Chat/MenuDrawer.tsx
  frontend/src/context/ChatContext.ts
  frontend/src/context/SocketContext.tsx
  frontend/src/types/chat.ts
Labels: ✨ enhancement, 🔧 fix, 📺 frontend

#150 [back] FEAT: game socket connection guard
  backend/src/models/game/entities/match.entity.ts
  backend/src/models/game/enum/GameEnum.ts
  backend/src/models/game/gameData/MatchJoinData.ts
  backend/src/models/game/gameData/ScoreData.ts
  backend/src/models/game/simul/GameSimulator.ts
  backend/src/models/game/socket/game.gateway.ts
  backend/src/models/game/socket/game.module.ts
  backend/src/models/game/socket/services/game.data.maker.ts
  backend/src/models/game/socket/services/game.service.ts
Labels: ✨ enhancement, 🖥️ backend

#152 [back] FEAT: NotifySocket에서 connection 검증
  backend/src/models/notifySocket/socket/notifySocket.module.ts
  backend/src/models/notifySocket/socket/services/notifySocket.service.ts
Labels: ✨ enhancement, 🖥️ backend

#153 [back] chat gateway jwt 추가
  backend/src/models/chat/socket/chatSocket.gateway.ts
  backend/src/models/chat/socket/chatSocket.module.ts
  backend/src/models/chat/socket/services/chatSocket.service.ts
Labels: 🖥️ backend

#155 [back] FIX: notify socket 연결 과정에 불필요한 코드로 인한 에러
  backend/src/models/notifySocket/socket/services/notifySocket.service.ts
Labels: 🖥️ backend, 🔧 fix

#148 [front] 로그인 API 연결 및 테스트 완료
  frontend/README.md
  frontend/config/backend.ts
  frontend/config/webpack.common.js
  frontend/config/webpack.dev.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/API.ts
  frontend/src/api/auth/auth.ts
  frontend/src/api/login/signIn.ts
  frontend/src/api/login/signUp.ts
  frontend/src/api/logout/logout.ts
  frontend/src/api/me/auth.ts
  frontend/src/api/me/settings.ts
  frontend/src/api/upload/upload.ts
  frontend/src/api/user/userData.ts
  frontend/src/api/user/userRelation.ts
  frontend/src/assets/3D_PONG.obj
  frontend/src/assets/PONG_3D.gltf
  frontend/src/assets/air_hockey_table.glb
  frontend/src/assets/memo.md
  frontend/src/components/Organism/Game/ChooseMode.tsx
  frontend/src/components/Organism/Game/Game.tsx
  frontend/src/components/Organism/Game/GameStartButton.tsx
  frontend/src/components/Organism/Game/Renderer/ObjectConverter.ts
  frontend/src/components/Organism/Game/Renderer/Renderer.tsx
  frontend/src/components/Organism/Game/Renderer/SceneComponent.tsx
  frontend/src/components/Organism/Login/2FA.tsx
  frontend/src/components/Organism/Login/SignIn.tsx
  frontend/src/components/Organism/Login/SignUp.tsx
  frontend/src/components/Organism/Profile/Profile.tsx
  frontend/src/components/Organism/Profile/ProfileCard.tsx
  frontend/src/components/Organism/Setting/SettingDialog.tsx
  frontend/src/components/Test/GameTest.tsx
  frontend/src/context/ErrorContext.tsx
  frontend/src/context/SocketContext.tsx
  frontend/src/custom.d.ts
  frontend/src/dummy/67910922.png
  frontend/src/types/game.ts
  frontend/tsconfig.json
Labels: 🔧 fix, 📺 frontend

#158 [back] FEAT: get user game history
  backend/src/models/user/api/dtos/getUserHistoryRes.dto.ts
  backend/src/models/user/api/services/user.service.ts
  backend/src/models/user/api/user.controller.ts
  backend/src/models/user/api/user.module.ts
Labels: ✨ enhancement, 🖥️ backend

#162 [all] sync front/develop
  frontend/README.md
  frontend/config/backend.ts
  frontend/config/webpack.common.js
  frontend/config/webpack.dev.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/API.ts
  frontend/src/api/auth/auth.ts
  frontend/src/api/login/signIn.ts
  frontend/src/api/login/signUp.ts
  frontend/src/api/logout/logout.ts
  frontend/src/api/me/auth.ts
  frontend/src/api/me/settings.ts
  frontend/src/api/upload/upload.ts
  frontend/src/api/user/userData.ts
  frontend/src/api/user/userRelation.ts
  frontend/src/assets/3D_PONG.obj
  frontend/src/assets/PONG_3D.gltf
  frontend/src/assets/air_hockey_table.glb
  frontend/src/assets/memo.md
  frontend/src/components/Molecule/Chat/AvatarPopper.tsx
  frontend/src/components/Molecule/Chat/Menu/MenuFooter.tsx
  frontend/src/components/Molecule/Chat/Menu/MenuList.tsx
  frontend/src/components/Molecule/Chat/Menu/UserCard.tsx
  frontend/src/components/Organism/Chat/ChannelSetting.tsx
  frontend/src/components/Organism/Chat/ChatDetail.tsx
  frontend/src/components/Organism/Chat/LocalChatList.tsx
  frontend/src/components/Organism/Chat/MenuDrawer.tsx
  frontend/src/components/Organism/Controller/Controller.tsx
  frontend/src/components/Organism/Friends/GlobalUserList/ActionMenu.tsx
  frontend/src/components/Organism/Friends/GlobalUserList/GlobalUserList.tsx
  frontend/src/components/Organism/Friends/LocalUserList/ActionMenu.tsx
  frontend/src/components/Organism/Friends/LocalUserList/List.tsx
  frontend/src/components/Organism/Friends/LocalUserList/UserListRow.tsx
  frontend/src/components/Organism/Game/ChooseMode.tsx
  frontend/src/components/Organism/Game/Game.tsx
  frontend/src/components/Organism/Game/GameStartButton.tsx
  frontend/src/components/Organism/Game/Renderer/ObjectConverter.ts
  frontend/src/components/Organism/Game/Renderer/Renderer.tsx
  frontend/src/components/Organism/Game/Renderer/SceneComponent.tsx
  frontend/src/components/Organism/Login/2FA.tsx
  frontend/src/components/Organism/Login/SignIn.tsx
  frontend/src/components/Organism/Login/SignUp.tsx
  frontend/src/components/Organism/Profile/Profile.tsx
  frontend/src/components/Organism/Profile/ProfileCard.tsx
  frontend/src/components/Organism/Setting/SettingDialog.tsx
  frontend/src/components/Test/GameTest.tsx
  frontend/src/context/ChatContext.ts
  frontend/src/context/ErrorContext.tsx
  frontend/src/context/SocketContext.tsx
  frontend/src/custom.d.ts
  frontend/src/dummy/67910922.png
  frontend/src/types/chat.ts
  frontend/src/types/game.ts
  frontend/src/types/notify.ts
  frontend/src/types/user.ts
  frontend/tsconfig.json
Labels: ⛓️ sync, all

#166 [back] fix: #165 해결
  backend/src/models/user/api/dtos/searchUserRes.dto.ts
Labels: 🖥️ backend, 🔧 fix

#167 [front] 채팅방 관련 기능 수정
  frontend/src/App.tsx
  frontend/src/components/ChatProfileTemplate.tsx
  frontend/src/components/ChatTemplate.tsx
  frontend/src/components/Molecule/Chat/AvatarPopper.tsx
  frontend/src/components/Molecule/Chat/Detail/MessageCard.tsx
  frontend/src/components/Molecule/Chat/Detail/MessageHeader.tsx
  frontend/src/components/Molecule/Chat/Detail/MessageList.tsx
  frontend/src/components/Molecule/Chat/SearchList.tsx
  frontend/src/components/Organism/Chat/ChannelSetting.tsx
  frontend/src/components/Organism/Chat/ChatDetail.tsx
  frontend/src/components/Organism/Chat/CreateChat.tsx
  frontend/src/components/Organism/Chat/GlobalChatList.tsx
  frontend/src/components/Organism/Chat/LocalChatList.tsx
  frontend/src/components/Organism/Chat/MenuDrawer.tsx
  frontend/src/context/SocketContext.tsx
  frontend/src/types/chat.ts
Labels: 🔧 fix, 📺 frontend

#169 [back] in chat room (game join, game watch)
  backend/src/models/game/enum/GameEnum.ts
  backend/src/models/game/gameData/InviteData.ts
  backend/src/models/game/gameData/MatchJoinData.ts
  backend/src/models/game/simul/GameManager.ts
  backend/src/models/game/socket/game.gateway.ts
  backend/src/models/game/socket/services/game.service.ts
Labels: ✨ enhancement, 🖥️ backend

#171 [front] 프론트측 작동 error 수정
  frontend/config/backend.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/upload/upload.ts
  frontend/src/api/user/userData.ts
  frontend/src/api/user/userRelation.ts
  frontend/src/components/Molecule/ImageUpload.tsx
  frontend/src/components/Molecule/Link/ListItemButtonLink.tsx
  frontend/src/components/Organism/Friends/LocalUserList/ActionMenu.tsx
  frontend/src/components/Organism/Friends/LocalUserList/List.tsx
  frontend/src/components/Organism/Game/Game.tsx
  frontend/src/components/Organism/Game/GameStartButton.tsx
  frontend/src/components/Organism/Game/Renderer/KeyInput.ts
  frontend/src/components/Organism/Game/Renderer/Renderer.tsx
  frontend/src/components/Organism/Home/Controller/Controller.tsx
  frontend/src/components/Organism/Home/Home.tsx
  frontend/src/components/Organism/Home/Renderer/Renderer.tsx
  frontend/src/components/Organism/Home/Renderer/SceneComponent.tsx
  frontend/src/components/Organism/Profile/Profile.tsx
  frontend/src/components/Organism/Setting/SettingDialog.tsx
  frontend/src/components/Test/GameTest.tsx
  frontend/src/dummy/env.jpeg
  frontend/src/types/game.ts
  frontend/tsconfig.json
Labels: 📺 frontend

#170 [Back] chat DM 프론트 요청사항 반영
  backend/src/models/chat/api/chat.controller.ts
  backend/src/models/chat/api/services/chat.service.ts
  backend/src/models/chat/entities/dmChannel.entity.ts
  backend/src/models/chat/socket/chat.interface.ts
  backend/src/models/chat/socket/chatSocket.gateway.ts
  backend/src/models/chat/socket/chatSocket.module.ts
  backend/src/models/chat/socket/services/chatSocket.service.ts
Labels: ✨ enhancement, 🖥️ backend, 🔧 fix

#172 [Back] chat 엔티티 추가 + dm 중복 생성 수정
  backend/src/models/chat/api/services/chat.service.ts
  backend/src/models/chat/dto/channel.dto.ts
  backend/src/models/chat/dto/socket.dto.ts
  backend/src/models/chat/entities/messageLog.entity.ts
  backend/src/models/chat/socket/chat.interface.ts
  backend/src/models/chat/socket/services/chatSocket.service.ts
Labels: 🖥️ backend

#173 [front] 게임 초대메시지, DM 기능 연결
  frontend/src/App.tsx
  frontend/src/api/API.ts
  frontend/src/api/chat/chat.ts
  frontend/src/components/Molecule/Chat/AvatarPopper.tsx
  frontend/src/components/Molecule/Chat/Detail/MessageCard.tsx
  frontend/src/components/Molecule/Chat/Detail/MessageHeader.tsx
  frontend/src/components/Organism/Chat/ChannelSetting.tsx
  frontend/src/components/Organism/Chat/ChatDetail.tsx
  frontend/src/components/Organism/Chat/CreateChat.tsx
  frontend/src/components/Organism/Chat/LocalChatList.tsx
  frontend/src/components/Organism/Chat/MenuDrawer.tsx
  frontend/src/components/Organism/Friends/GlobalUserList/ActionMenu.tsx
  frontend/src/components/Organism/Friends/LocalUserList/ActionMenu.tsx
  frontend/src/components/Organism/Game/ChooseMode.tsx
  frontend/src/components/Organism/Game/Game.tsx
  frontend/src/components/Organism/Game/GameStartButton.tsx
  frontend/src/components/Organism/Home/Controller/Controller.tsx
  frontend/src/context/MatchDataContext.tsx
  frontend/src/types/chat.ts
  frontend/src/types/game.ts
Labels: ✨ enhancement, 🔧 fix, 📺 frontend

#176 [back] in chat room (game join, game watch) 오류 fix
  backend/src/models/game/gameData/InviteData.ts
  backend/src/models/game/socket/game.gateway.ts
  backend/src/models/game/socket/services/game.service.ts
Labels: 🐛 bug, 🔧 fix

#180 [back] FIX: 로그인 과정에서 중복 로그인으로 인한 에러 처리
  backend/src/auth/api/auth.controller.ts
  backend/src/common/filters/socket/socket.filter.ts
  backend/src/models/notifySocket/socket/notifySocket.gateway.ts
  backend/src/models/notifySocket/socket/services/notifySocket.service.ts
  backend/src/providers/redis/provider.module.ts
  backend/src/providers/redis/socketMap.service.ts
Labels: 🖥️ backend, 🔧 fix

#181 [back] FIX: user relation status
  backend/src/models/user/api/dtos/getUserRelationRes.dto.ts
  backend/src/models/user/api/services/userRelation.service.ts
Labels: 🖥️ backend, 🔧 fix

#179 [front] 중복 로그인, Controller 버튼 무반응 등 전반적 에러 수정
  frontend/.gitignore
  frontend/config/backend.ts
  frontend/config/webpack.common.js
  frontend/env.sample
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/API.ts
  frontend/src/api/user/userData.ts
  frontend/src/api/user/userHistory.ts
  frontend/src/api/user/userRelation.ts
  frontend/src/components/Molecule/AlertSnackbar.tsx
  frontend/src/components/Organism/Friends/LocalUserList/List.tsx
  frontend/src/components/Organism/Game/Game.tsx
  frontend/src/components/Organism/Game/GameStartButton.tsx
  frontend/src/components/Organism/Game/Renderer/Renderer.tsx
  frontend/src/components/Organism/Home/Controller/Controller.tsx
  frontend/src/components/Organism/Login/ServerError.tsx
  frontend/src/components/Organism/Login/SignIn.tsx
  frontend/src/components/Organism/Login/SignInDuplicatedError.tsx
  frontend/src/components/Organism/Login/SignInError.tsx
  frontend/src/components/Organism/Profile/ProfileStatistic.tsx
  frontend/src/context/SocketContext.tsx
  frontend/tsconfig.json
Labels: 🐛 bug, 🔧 fix, 📺 frontend

#183 [all] sync Front/develop
  frontend/.gitignore
  frontend/config/backend.ts
  frontend/config/webpack.common.js
  frontend/env.sample
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/API.ts
  frontend/src/api/chat/chat.ts
  frontend/src/api/upload/upload.ts
  frontend/src/api/user/userData.ts
  frontend/src/api/user/userHistory.ts
  frontend/src/api/user/userRelation.ts
  frontend/src/components/ChatProfileTemplate.tsx
  frontend/src/components/ChatTemplate.tsx
  frontend/src/components/Molecule/AlertSnackbar.tsx
  frontend/src/components/Molecule/Chat/AvatarPopper.tsx
  frontend/src/components/Molecule/Chat/Detail/MessageCard.tsx
  frontend/src/components/Molecule/Chat/Detail/MessageHeader.tsx
  frontend/src/components/Molecule/Chat/Detail/MessageList.tsx
  frontend/src/components/Molecule/Chat/Detail/MessageSender.tsx
  frontend/src/components/Molecule/Chat/SearchList.tsx
  frontend/src/components/Molecule/Chat/TextField.tsx
  frontend/src/components/Molecule/ImageUpload.tsx
  frontend/src/components/Molecule/Link/ListItemButtonLink.tsx
  frontend/src/components/Organism/Chat/ChannelSetting.tsx
  frontend/src/components/Organism/Chat/ChatDetail.tsx
  frontend/src/components/Organism/Chat/CreateChat.tsx
  frontend/src/components/Organism/Chat/GlobalChatList.tsx
  frontend/src/components/Organism/Chat/LocalChatList.tsx
  frontend/src/components/Organism/Chat/MenuDrawer.tsx
  frontend/src/components/Organism/Friends/GlobalUserList/ActionMenu.tsx
  frontend/src/components/Organism/Friends/LocalUserList/ActionMenu.tsx
  frontend/src/components/Organism/Friends/LocalUserList/List.tsx
  frontend/src/components/Organism/Game/ChooseMode.tsx
  frontend/src/components/Organism/Game/Game.tsx
  frontend/src/components/Organism/Game/GameStartButton.tsx
  frontend/src/components/Organism/Game/Renderer/KeyInput.ts
  frontend/src/components/Organism/Game/Renderer/Renderer.tsx
  frontend/src/components/Organism/Home/Controller/Controller.tsx
  frontend/src/components/Organism/Home/Home.tsx
  frontend/src/components/Organism/Home/Renderer/Renderer.tsx
  frontend/src/components/Organism/Home/Renderer/SceneComponent.tsx
  frontend/src/components/Organism/Login/ServerError.tsx
  frontend/src/components/Organism/Login/SignIn.tsx
  frontend/src/components/Organism/Login/SignInDuplicatedError.tsx
  frontend/src/components/Organism/Login/SignInError.tsx
  frontend/src/components/Organism/Profile/Profile.tsx
  frontend/src/components/Organism/Profile/ProfileStatistic.tsx
  frontend/src/components/Organism/Setting/SettingDialog.tsx
  frontend/src/components/Test/GameTest.tsx
  frontend/src/context/MatchDataContext.tsx
  frontend/src/context/SocketContext.tsx
  frontend/src/dummy/env.jpeg
  frontend/src/types/chat.ts
  frontend/src/types/game.ts
  frontend/tsconfig.json
Labels: ⛓️ sync, all

#184 [all] sync Back/develop
  backend/src/auth/api/auth.controller.ts
  backend/src/common/filters/socket/socket.filter.ts
  backend/src/models/chat/api/chat.controller.ts
  backend/src/models/chat/api/services/chat.service.ts
  backend/src/models/chat/dto/channel.dto.ts
  backend/src/models/chat/dto/socket.dto.ts
  backend/src/models/chat/entities/dmChannel.entity.ts
  backend/src/models/chat/entities/messageLog.entity.ts
  backend/src/models/chat/socket/chat.interface.ts
  backend/src/models/chat/socket/chatSocket.gateway.ts
  backend/src/models/chat/socket/chatSocket.module.ts
  backend/src/models/chat/socket/services/chatSocket.service.ts
  backend/src/models/game/enum/GameEnum.ts
  backend/src/models/game/gameData/InGameData.ts
  backend/src/models/game/gameData/InviteData.ts
  backend/src/models/game/gameData/MatchJoinData.ts
  backend/src/models/game/simul/GameManager.ts
  backend/src/models/game/simul/object/ObjectController.ts
  backend/src/models/game/socket/game.gateway.ts
  backend/src/models/game/socket/services/game.data.maker.ts
  backend/src/models/game/socket/services/game.service.ts
  backend/src/models/notifySocket/socket/notifySocket.gateway.ts
  backend/src/models/notifySocket/socket/services/notifySocket.service.ts
  backend/src/models/user/api/dtos/getUserRelationRes.dto.ts
  backend/src/models/user/api/dtos/searchUserRes.dto.ts
  backend/src/models/user/api/services/userRelation.service.ts
  backend/src/providers/redis/provider.module.ts
  backend/src/providers/redis/socketMap.service.ts
Labels: ⛓️ sync, all

#185 [back] fix: 소켓 아이디가 할당 안된 경우 온라인으로 뜨는 문제 해결
  backend/src/models/chat/socket/chatSocket.gateway.ts
  backend/src/models/notifySocket/socket/services/notifySocket.service.ts
Labels: 🖥️ backend, 🔧 fix

#192 [back] fix: key 이름 설정 잘못해서 발생한 문제 해결
  backend/src/providers/redis/socketMap.service.ts
Labels: 🖥️ backend, 🔧 fix

#193 [all] sync back/develop
  backend/src/providers/redis/socketMap.service.ts
Labels: ⛓️ sync, all

#194 [all] Release 알파테스트 - 일부 버그 수정버전 v0.2
  backend/src/providers/redis/socketMap.service.ts
Labels: ⛓️ sync, all, release

#195 [back] fix: 채팅 소켓 disconnect 시 정리 안되는 문제 해결
  backend/src/models/chat/socket/chatSocket.gateway.ts
Labels: 🖥️ backend, 🔧 fix

#196 [all] sync back/develop
  backend/src/models/chat/socket/chatSocket.gateway.ts
Labels: ⛓️ sync, all

#197 [all] Release 알파 테스트 v0.2.1
  backend/src/models/chat/socket/chatSocket.gateway.ts
Labels: all, release

#198 [front] chat 초대메시지 수정
  frontend/src/components/Organism/Game/GameStartButton.tsx
  frontend/src/components/Organism/Home/Controller/Controller.tsx
  frontend/src/types/game.ts
Labels: 🔧 fix, 📺 frontend

#201 [back] key입력 오류, 유저 매치 전적 업데이트 추가
  backend/src/models/game/dto/gameMatchUpdate.dto.ts
  backend/src/models/game/enum/GameEnv.ts
  backend/src/models/game/simul/GameManager.ts
  backend/src/models/game/socket/game.gateway.ts
  backend/src/models/game/socket/game.module.ts
  backend/src/models/game/socket/services/game.service.ts
Labels: 🐛 bug, 🔧 fix

#203 [back] level logic fix, 게임 매치 종료 순서 변경
  backend/src/models/game/simul/GameManager.ts
  backend/src/models/game/socket/services/game.service.ts
Labels: 🐛 bug, 🔧 fix

#206 [front] 기본썸네일 채팅방 버그 수정
  frontend/src/components/Molecule/Chat/List/ChannelCard.tsx
  frontend/src/components/Molecule/Chat/List/ChannelList.tsx
  frontend/src/components/Organism/Chat/ChannelSetting.tsx
  frontend/src/components/Organism/Chat/CreateChat.tsx
  frontend/src/components/Organism/Chat/LocalChatList.tsx
  frontend/src/types/chat.ts
Labels: 🔧 fix, 📺 frontend

#207 [all] sync back/develop (27/04/23 fix)
  backend/src/models/game/dto/gameMatchUpdate.dto.ts
  backend/src/models/game/enum/GameEnv.ts
  backend/src/models/game/simul/GameManager.ts
  backend/src/models/game/socket/game.gateway.ts
  backend/src/models/game/socket/game.module.ts
  backend/src/models/game/socket/services/game.service.ts
Labels: ⛓️ sync, all

#208 [all] sync front/develop (27/04/23, fix)
  frontend/src/App.tsx
  frontend/src/api/auth/auth.ts
  frontend/src/api/chat/chat.ts
  frontend/src/api/login/signUp.ts
  frontend/src/api/logout/logout.ts
  frontend/src/api/me/auth.ts
  frontend/src/api/me/settings.ts
  frontend/src/api/upload/upload.ts
  frontend/src/api/user/userData.ts
  frontend/src/api/user/userHistory.ts
  frontend/src/api/user/userRelation.ts
  frontend/src/assets/3D_PONG.obj
  frontend/src/components/Molecule/AlertSnackbar.tsx
  frontend/src/components/Molecule/Chat/AvatarPopper.tsx
  frontend/src/components/Molecule/Chat/Detail/MessageList.tsx
  frontend/src/components/Molecule/Chat/List/ChannelCard.tsx
  frontend/src/components/Molecule/Chat/List/ChannelList.tsx
  frontend/src/components/Molecule/Chat/SearchList.tsx
  frontend/src/components/Molecule/ImageUpload.tsx
  frontend/src/components/Organism/Chat/ChannelSetting.tsx
  frontend/src/components/Organism/Chat/ChatDetail.tsx
  frontend/src/components/Organism/Chat/CreateChat.tsx
  frontend/src/components/Organism/Chat/GlobalChatList.tsx
  frontend/src/components/Organism/Chat/LocalChatList.tsx
  frontend/src/components/Organism/Chat/MenuDrawer.tsx
  frontend/src/components/Organism/Friends/GlobalUserList/ActionMenu.tsx
  frontend/src/components/Organism/Friends/GlobalUserList/GlobalUserList.tsx
  frontend/src/components/Organism/Friends/LocalUserList/ActionMenu.tsx
  frontend/src/components/Organism/Friends/LocalUserList/List.tsx
  frontend/src/components/Organism/Game/ChooseMode.tsx
  frontend/src/components/Organism/Game/Game.tsx
  frontend/src/components/Organism/Game/GameStartButton.tsx
  frontend/src/components/Organism/Game/Renderer/Renderer.tsx
  frontend/src/components/Organism/Home/Controller/Controller.tsx
  frontend/src/components/Organism/Home/Renderer/Renderer.tsx
  frontend/src/components/Organism/Login/2FA.tsx
  frontend/src/components/Organism/Login/ServerError.tsx
  frontend/src/components/Organism/Login/SignIn.tsx
  frontend/src/components/Organism/Login/SignInDuplicatedError.tsx
  frontend/src/components/Organism/Login/SignInError.tsx
  frontend/src/components/Organism/Login/SignUp.tsx
  frontend/src/components/Organism/Profile/Profile.tsx
  frontend/src/components/Organism/Profile/ProfileStatistic.tsx
  frontend/src/components/Organism/Setting/SettingDialog.tsx
  frontend/src/context/AlertContext.tsx
  frontend/src/context/ErrorContext.tsx
  frontend/src/context/SocketContext.tsx
  frontend/src/types/chat.ts
  frontend/src/types/game.ts
  frontend/src/utils/CustomHooks/useArray.ts
  frontend/src/utils/Validator.ts
  frontend/tsconfig.json
Labels: ⛓️ sync, all

#210 [back] fix: 서버가 내려갔다가 올라올 때 redis가 초기화되지 않아서 발생한 문제를 임시 해결함.
  backend/src/app.service.ts
Labels: 🖥️ backend, 🔧 fix

#211 [back] 관전자 데이터 변경
  backend/src/models/game/gameData/OnSceneObserverData.ts
  backend/src/models/game/socket/services/game.data.maker.ts
  backend/src/models/game/socket/services/game.service.ts
Labels: 🖥️ backend

#212 [front] 배경색 채워넣기
  frontend/src/components/ChatTemplate.tsx
  frontend/src/components/Molecule/Chat/Detail/MessageHeader.tsx
  frontend/src/components/Organism/Chat/GlobalChatList.tsx
  frontend/src/components/Organism/Chat/LocalChatList.tsx
  frontend/src/components/Organism/Friends/GlobalUserList/GlobalUserList.tsx
  frontend/src/components/Organism/Friends/LocalUserList/LocalUserList.tsx
Labels: 🔧 fix, 📺 frontend

#215 [front] 채팅방 생성 배경
  frontend/src/components/Organism/Chat/CreateChat.tsx
Labels: 🔧 fix, 📺 frontend

#218 [back] default 이미지 반영
  backend/src/models/image/image.controller.ts
  backend/storage/images/default.png
Labels: 🖥️ backend, 🔧 fix

#217 [front] fix: default image 반영
  frontend/src/components/Organism/Login/SignUp.tsx
Labels: 🔧 fix, 📺 frontend

#216 [Back]chat 주석제거 + 500자 제한 조건식 추가
  backend/src/models/chat/api/services/chat.service.ts
  backend/src/models/chat/dto/channel.dto.ts
  backend/src/models/chat/dto/socket.dto.ts
  backend/src/models/chat/socket/services/chatSocket.service.ts
Labels: 🖥️ backend, 🔧 fix

#214 [back] fix: chat duplicate disconnect 시 소켓 정보를 지워버리는 문제 해결
  backend/src/models/chat/socket/chatSocket.gateway.ts
Labels: 🖥️ backend, 🔧 fix

#219 [al]] sync back *버그 리포트 수정 버전
  backend/src/app.service.ts
  backend/src/common/filters/http/httpException.filter.ts
  backend/src/models/chat/api/chat.controller.ts
  backend/src/models/chat/api/services/chat.service.ts
  backend/src/models/chat/dto/channel.dto.ts
  backend/src/models/chat/dto/socket.dto.ts
  backend/src/models/chat/socket/chat.interface.ts
  backend/src/models/chat/socket/chatSocket.gateway.ts
  backend/src/models/chat/socket/services/chatSocket.service.ts
  backend/src/models/game/gameData/OnSceneObserverData.ts
  backend/src/models/game/socket/services/game.data.maker.ts
  backend/src/models/game/socket/services/game.service.ts
  backend/src/models/image/image.controller.ts
  backend/storage/images/default.png
Labels: ⛓️ sync, all

#220 [al]] sync front *버그 리포트 수정 버전
  frontend/src/components/ChatTemplate.tsx
  frontend/src/components/Molecule/AlertSnackbar.tsx
  frontend/src/components/Molecule/Chat/Detail/MessageHeader.tsx
  frontend/src/components/Organism/Chat/CreateChat.tsx
  frontend/src/components/Organism/Chat/GlobalChatList.tsx
  frontend/src/components/Organism/Chat/LocalChatList.tsx
  frontend/src/components/Organism/Friends/GlobalUserList/GlobalUserList.tsx
  frontend/src/components/Organism/Friends/LocalUserList/LocalUserList.tsx
  frontend/src/components/Organism/Game/Game.tsx
  frontend/src/components/Organism/Game/GameStartButton.tsx
  frontend/src/components/Organism/Game/Renderer/Renderer.tsx
  frontend/src/components/Organism/Login/SignUp.tsx
  frontend/src/types/game.ts
Labels: 🔧 fix, all

#222 [back] fix: search status 잘못 받아오는거 변경
  backend/src/models/user/api/services/user.service.ts
Labels: 🖥️ backend, 🔧 fix

#223 [front] setting chat 에서 비밀번호 null 보낼 수 있게 변경
  frontend/src/components/Organism/Chat/ChannelSetting.tsx
Labels: 🔧 fix, 📺 frontend

#225 [all] sync fix
  backend/src/models/chat/dto/channel.dto.ts
  backend/src/models/chat/socket/services/chatSocket.service.ts
  backend/src/models/user/api/services/user.service.ts
Labels: ⛓️ sync, 🔧 fix, all

#229 [front] fix: 상태 표기 및 프로필 표기 수정 완료
  frontend/src/components/Organism/Friends/GlobalUserList/UserListRow.tsx
  frontend/src/components/Organism/Profile/Profile.tsx
Labels: 🐛 bug, 🔧 fix

#230 [back] fix: search user 의 상태를 받아오지 못하는 문제
  backend/src/models/user/api/dtos/searchUserRes.dto.ts
  backend/src/models/user/api/services/user.service.ts
Labels: 🖥️ backend, 🔧 fix

#233 [all] release!! BETA DONE
  backend/src/models/user/api/dtos/searchUserRes.dto.ts
  backend/src/models/user/api/services/user.service.ts
  frontend/src/components/Organism/Friends/GlobalUserList/UserListRow.tsx
  frontend/src/components/Organism/Profile/Profile.tsx
Labels: ⛓️ sync, all, release
